<div class="stack">
    <span class="stack-tag"><i class="fab fa-laravel"></i>Laravel</span>
    <span class="stack-tag"><i class="fab fa-php"></i>PHP</span>
    <span class="stack-tag"><i class="fa-brands fa-docker"></i>Docker</span>
    <span class="stack-tag"><i class="fab fa-python"></i>Django</span>
    <span class="stack-tag"><i class="fab fa-python"></i>Python</span>
    <span class="stack-tag"><i class="fas fa-database"></i>PostgreSQL</span>
    <span class="stack-tag"><i class="fas fa-database"></i>MySQL</span>
    <span class="stack-tag"><i class="fa-brands fa-unity"></i>Unity</span>
    <span class="stack-tag"><i class="fab fa-windows"></i>.NET</span>
    <span class="stack-tag"><i class="fab fa-cuttlefish"></i>C#</span>
    <span class="stack-tag"><i class="fa-brands fa-ubuntu"></i>Ubuntu 24</span>
    <span class="stack-tag"><i class="fas fa-server"></i>Nginx</span>
    <span class="stack-tag"><i class="fas fa-exchange-alt"></i>REST</span>
    <span class="stack-tag"><i class="fab fa-telegram"></i>Telegram</span>
    <span class="stack-tag"><i class="fab fa-java"></i>Java</span>
</div>

