<div class="stack">
    <span class="stack-tag"><i class="fa-brands fa-github"></i>Github</span>
    <span class="stack-tag"><i class="fa-brands fa-gitlab"></i>Gitlab</span>
    <span class="stack-tag"><i class="fa-brands fa-docker"></i>Docker</span>
    <span class="stack-tag"><i class="fas fa-database"></i>PostgreSQL</span>
    <span class="stack-tag"><i class="fa-brands fa-unity"></i>Unity</span>
    <span class="stack-tag"><i class="fa-brands fa-jira"></i>Jira</span>
    <span class="stack-tag"><i class="fa-brands fa-atlassian"></i>Atlassian</span>
    <span class="stack-tag"><i class="fa-brands fa-figma"></i>Figma</span>
    <span class="stack-tag"><i class="fa-brands fa-ubuntu"></i>Ubuntu 24</span>

    <div class="tool-img-wrapper"><img class="tool-img"
                                       src="https://resources.jetbrains.com/storage/products/company/brand/logos/PhpStorm.png"
                                       alt="PhpStorm logo."></div>
    <div class="tool-img-wrapper"><img class="tool-img"
                                       src="https://resources.jetbrains.com/storage/products/company/brand/logos/PyCharm.png"
                                       alt="PyCharm logo."></div>
    <div class="tool-img-wrapper"><img class="tool-img"
                                       src="https://resources.jetbrains.com/storage/products/company/brand/logos/Rider.png"
                                       alt="Rider logo."></div>
    <div class="tool-img-wrapper"><img class="tool-img"
                                       src="https://resources.jetbrains.com/storage/products/company/brand/logos/IntelliJ_IDEA.png"
                                       alt="IntelliJ IDEA logo."></div>
    <div class="tool-img-wrapper"><img class="tool-img"
                                       src="https://resources.jetbrains.com/storage/products/company/brand/logos/WebStorm.png"
                                       alt="WebStorm logo."></div>
    <div class="tool-img-wrapper"><img class="tool-img"
                                       src="https://resources.jetbrains.com/storage/products/company/brand/logos/CLion.png"
                                       alt="CLion logo."></div>
</div>

