<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.state.page_title }}</title>
    <link rel="stylesheet" href="/static/fonts.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/modals.css">
    <link rel="stylesheet" href="/static/adaptive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>

{% include "widgets/header.html" %}

{% block content %}{% endblock %}

{% block footer %}{% include "widgets/footer.html" %}{% endblock %}

<div class="modal" id="imageModal">
    <span class="modal-close" onclick="closeModal()">&times;</span>
    <div class="modal-slider">
        <button class="slider-btn modal-btn prev-btn" onclick="moveModalSlide(-1)">&#10094;</button>
        <div class="modal-slides" id="modalSlides"></div>
        <button class="slider-btn modal-btn next-btn" onclick="moveModalSlide(1)">&#10095;</button>
    </div>
</div>

<script src="/static/scripts.js"></script>
<script>
    window.va = window.va || function () {
        (window.vaq = window.vaq || []).push(arguments);
    };
</script>
<script defer src="/_vercel/insights/script.js"></script>
</body>
</html>